body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    user-select: none;

    button, a {
        outline: none;
        background-color: transparent;
    }

    p {
        margin: 0;
    }
}