@tailwind base;
@tailwind components;
@tailwind utilities;

* { -webkit-tap-highlight-color: transparent; }

html, body, #root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    @apply text-gray-800;
} 
