@tailwind base;
@tailwind components;
@tailwind utilities;

* { -webkit-tap-highlight-color: transparent; }
  
:root {
    --app-height: 100%;
}

html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: var(--app-height);
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    @apply text-gray-800;
} 

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}